@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #e5e5e5;
    width: 100%;
  }

  .nav-bar {
    background-color: white;
    padding: 40px;
    display: block;
    top: 0;
    overflow: hidden;
    position: sticky;
  }

  .nav-bar .logo {
    float: left;
    text-decoration: none;
    color: #6070ff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
  }

  .nav-links {
    text-decoration: none;
    color: #344563;
    font-size: 18px;
    font-weight: 500;
    float: right;
    padding: 10px;
  }

  .nav-bar a:hover {
    color: cyan;
  }

  .first {
    background-image: url(images/Header.png);
    background-position: center 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 160px;
    background-color: #fff;
    height: 798px;
  }

  .boxHeader {
    max-width: 1440px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }

  .boxHead {
    margin-bottom: 20px;
    padding: 14rem;
  }

  .boxHead h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .boxHead p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .boxConnect {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #7f8cff;
    padding-top: 10px;
    display: flex;
  }

  .boxSocial {
    display: flex;
    margin-top: 5px;
    list-style: none;
    padding: 5px;
    column-gap: 15px;
  }
}
